<header xmlns:th="http://www.w3.org/1999/xhtml">
  <nav class="navbar static-top navbar-expand-md navbar-dark bg-dark"
       aria-label="Navbar">
    <div class="container-fluid ">
      <a class="navbar-brand" th:href="@{/}" th:text="'FilmTokio'"></a>
      <div class="collapse navbar-collapse d-flex justify-content-end gx-5"
           id="Navbar Collapse">
        <a class="btn btn-outline-primary"
           th:text="'Login'" th:href="@{/users/login}"></a>
        <a class="btn btn-outline-primary"
           th:text="'Register'" th:href="@{/users/register}"></a>
      </div>
    </div>
  </nav>
</header>