<head th:fragment="head" xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title th:text="'FilmoTokio'"></title>
  <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" th:rel="stylesheet"/>
  <link th:href="@{/webjars/font-awesome/css/all.css}" th:rel="stylesheet">
  <link th:href="@{/css/style.css}" th:rel="stylesheet">

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>