<header xmlns:th="http://www.w3.org/1999/xhtml">
  <nav class="navbar static-top navbar-expand-md navbar-dark bg-dark"
       aria-label="Navbar">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}" th:text="'FilmTokio'"></a>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end"
           id="Navbar Collapse">
        <a class="btn btn-outline-light me-md-2"
           th:text="'Inicio sesión'" th:href="@{/login}"></a>
        <a class="btn btn-outline-light"
           th:text="'Registro'" th:href="@{/users/signup}"></a>
      </div>
    </div>
  </nav>
</header>