<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
</head>
<body>
	<header>
		<nav class="navbar static-top navbar-expand-md navbar-dark bg-dark"
			aria-label="Navbar">
			<div class="container-fluid ">
				<a class="navbar-brand" th:href="@{/}" th:text="'FilmTokio'"></a>
				<div class="collapse navbar-collapse d-flex justify-content-end gx-5"
					id="Navbar Collapse">
					<button type="button" class="btn btn-outline-primary"
						th:text="'Login'"></button>
					<button type="button" class="btn btn-outline-primary"
						th:text="'Register'"></button>
				</div>
			</div>
		</nav>
	</header>
	<div class="d-flex align-items-center flex-column">
		<h1 th:text="${welcome}"></h1>
		<img th:src="@{img/Tokio.svg}" />
	</div>

</body>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</html>