<!doctype html>
<html class="form-signin" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="form-signin text-center body-color">

<main class="form-signin">
  <form th:action="@{/login}" th:method="post">
    <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <a href="/">
      <img alt="" class="mb-4 rounded-circle" height="100" src="" th:src="@{/images/cinema.png}">
    </a>
    <h1 class="h3 mb-3 fw-normal" th:text="'Por favor, regístrate'"></h1>

    <div class="form-floating">
      <input autofocus class="form-control" id="username" name="username"
             placeholder="Nombre de usuario"
             required type="text">
      <label for="username" th:text="'Nombre de usuario'"></label>
    </div>
    <div class="form-floating">
      <input autofocus class="form-control" id="password" name="password"
             placeholder="Contraseña" type="password">
      <label for="password" th:text="'Contraseña'"></label>
    </div>
    <div class="checkbox mb-2">
      <label>
        <input th:text="'Recuérdame'" type="checkbox" value="remember-me">
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" th:text="'Entrar'" type="submit"></button>

    <br/><br/>
    <div class="alert alert-danger" role="alert" th:if="${param.error}"
         th:text="'Nombre de usuario o contraseña incorrectos.'">
    </div>
  </form>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>