<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <div class="container my-2">
        <div class="row">
            <div class="container mx-auto py-2 rounded bg-white">
                <form th:method="POST" th:object="${film}" enctype="multipart/form-data" th:href="@{films/add}">
                    <div class="row px-1 mt-1">
                        <div class="col">
                            <label for="title">Título</label>
                            <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Título">
                        </div>
                        <div class="col-2">
                            <label for="year">Año</label>
                            <select class="form-select" th:field="*{year}" id="year">
                                <option th:each="i : ${#numbers.sequence(1950, 2023)}" th:value="${i}" th:text="${i}">
                                    Year
                                </option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label for="duration">Duración</label>
                            <input type="number" th:field="*{duration}" class="form-control" id="duration"
                                   placeholder="Duration (mins)">
                        </div>
                    </div>
                    <div class="row py-1 px-1">
                        <div class="col">
                            <label for="posterImage" class="labels">Imagen de la portada</label>
                            <input class="form-control" type="file" name="posterImage" id="posterImage"
                                   style="padding: 0.25rem;">
                        </div>
                        <div class="col-8 py-1 px-1">
                            <label for="synopsis">Sinopsis</label>
                            <textarea type="text" class="form-control" id="synopsis" th:field="*{synopsis}"
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row px-1">
                        <div class="col py-1">
                            <label for="directors">Director(es)</label>
                            <select class="form-select" id="directors" multiple th:field="*{directors}">
                                <option th:each="director: ${directors}" th:value="${director.id}"
                                        th:text="${director.name} + ' ' + ${director.surname}">
                                </option>
                            </select>
                        </div>
                        <div class="col py-1">
                            <label for="actors">Actor(es)</label>
                            <select class="form-select" id="actors" multiple th:field="*{actors}">
                                <option th:each="actor: ${actors}" th:value="${actor.id}"
                                        th:text="${actor.name} + ' ' + ${actor.surname}">
                                </option>
                            </select>
                        </div>
                        <div class="col px-1">
                            <label for="screenwriters">Guionista(s)</label>
                            <select class="form-select" id="screenwriters" multiple
                                    th:field="*{screenwriters}">
                                <option th:each="screenwriter : ${screenwriters}" th:value="${screenwriter.id}"
                                        th:text="${screenwriter.name} + ' ' + ${screenwriter.surname}">
                                </option>
                            </select>
                        </div>
                        <div class="col px-1">
                            <label for="musicians">Música</label>
                            <select class="form-select" id="musicians" multiple
                                    th:field="*{musicians}">
                                <option th:each="musician : ${musicians}" th:value="${musician.id}"
                                        th:text="${musician.name} + ' ' + ${musician.surname}">
                                </option>
                            </select>
                        </div>
                        <div class="col px-1">
                            <label for="photographers">Fotografía</label>
                            <select class="form-select" id="photographers" multiple
                                    th:field="*{photographers}">
                                <option th:each="photographer : ${photographers}" th:value="${photographer.id}"
                                        th:text="${photographer.name} + ' ' + ${photographer.surname}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center my-1">
                        <button class="btn btn-primary mx-1" type="submit" th:text="'Añadir'"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>